<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.brainstorm.neckup"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TodayRecActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".activity.ExerciseActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.HealthAssessActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".activity.Word2SayActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
    </application>

</manifest>
